*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#050510;
    color:white;
    font-family:Arial,sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background-image:linear-gradient(45deg,#001133,#220044,#000814);
}

.card{
    width:340px;
    background:rgba(255,255,255,.05);
    border:1px solid #00ffff;
    border-radius:20px;
    padding:30px;
    text-align:center;
    box-shadow:0 0 30px #00e5ff;
}

.profile{
    width:130px;
    height:130px;
    border-radius:50%;
    border:3px solid #00ffff;
    object-fit:cover;
    margin-bottom:20px;
}

h1{
    color:#00ffff;
    margin-bottom:10px;
}

.bio{
    color:#ccc;
    margin-bottom:20px;
    line-height:1.6;
}

.buttons a{
    display:block;
    margin:10px 0;
    padding:12px;
    color:white;
    text-decoration:none;
    border:1px solid #00ffff;
    border-radius:10px;
    transition:.3s;
}

.buttons a:hover{
    background:#00ffff;
    color:black;
    box-shadow:0 0 20px #00ffff;
}
